.container1{
    //width: 1280px;
}

@font-face {
  font-family:'Ffb4c2';src:url("//i1.mifile.cn/b2c-fe-huodong/f/fb4c2a25f73384.eot");src:local(FZYouH_502L),url("//i1.mifile.cn/b2c-fe-huodong/f/fb4c2a25f73384.eot?#iefix") format("embedded-opentype"),url("//i1.mifile.cn/b2c-fe-huodong/f/fb4c2a25f73384.woff") format("woff"),url("//i1.mifile.cn/b2c-fe-huodong/f/fb4c2a25f73384.ttf") format("truetype"),url("//i1.mifile.cn/b2c-fe-huodong/f/fb4c2a25f73384.svg") format("svg")
}

@font-face {
  font-family:'F1d3d8';src:url("//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.eot");src:local(FZLanTingHeiS-UL-GB),url("//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.eot?#iefix") format("embedded-opentype"),url("//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.woff") format("woff"),url("//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.ttf") format("truetype"),url("//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.svg") format("svg")
}

*{
  padding: 0px;
  margin: 0px;
}
body{
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
/**/
.btn-group-type{
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(198,198,198,0.52);
    border-radius: 100px;
    
    padding: 5px;
    font-size: 16px;
    color: #000;
    position: relative;
    margin: 20px;
    button {
      border: none;
      background: transparent;
      width: 80px;
      position: relative;;
      z-index: 2;
      display: block;
      float: left;
      height: 38px;
      &.change{
        color: #fff;
      }
    }
    .btn-active{
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 5px;
      width: 80px;
      background: #FF5B68;
      border-radius: 100px;
      height: 38px;
      margin-top: -19px;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/*animate*/
.bg-scale{
  width: 200px;
  height: 200px;
  transition: all 1s;
  &:hover{
    transform:scale(1.4)
  }
}
/*mi6-index*/

.mi6-index .section.is-visible .title,.mi6-index .section.is-visible .item-des,.mi6-index .fragment.is-visible .title,.mi6-index .fragment.is-visible .item-des {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100)\9
}

.mi6-index .section .title,.mi6-index .fragment .title {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  filter: alpha(opacity=0)\9
}
.mi6-index .section .item-des,.mi6-index .fragment .item-des {
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  filter: alpha(opacity=0)\9
}
/*选中线条缩放*/
.nav>li a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f00;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.1s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}
.nav>li a:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/*三角形实现*/
.triangle{
  position: relative;
}
.triangle:before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #e6e9f0;
    position: absolute;
    top: -16px;
    left: 45px;
}
.triangle:after {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -15px;
    left: 45px;
}





